.options{
	display: flex;
  	align-items: center;
  	padding: 11px 5px!important;
    background: #fff!important;
    border: 1px solid #dcdcdc;
    width: 100%;
  	margin: 10px 5px 0;
  	cursor: pointer;
}

.valorunico{
	margin-bottom: 0;
}

.valorunico{
	font-size: 17px;
  	line-height: 1;
}

.valortot{
	font-size: 13px;
}

.nomevar p{
	font-size: 14px;
}

.valorunico span, .valortot span{
	color: #999;
  	text-decoration: line-through;
  	margin-right: 4px;
}

.selector-bola {
    height: 18px;
    width: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.options.active .selector-bola{
	background: #ff9e1b;
}

.options.active{
	border: solid 1.5px #ff9e1b;
}

.selo {
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 11px!important;
    background: #333;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
    display: inline-block;
}

.selector-desconto {
    font-size: 12px;
    text-align: center;
    color: #39b54a;
    border-radius: 4px;
    display: inline-block;
    margin-top: 0px;
  	margin-bottom: 0;
}

.options.active .selector-desconto{
  	background: #ec7700;
    color: rgb(255, 255, 255);
    padding: 1px 2px;
}

.precode, .price.price--compare{
  	font-size: 15px;
    text-decoration: line-through;
    color: red;
}

.price .selector-desconto{
  	font-size: 12px;
    background: #ec7700;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    margin-left: 5px;
}

.product-form__info-content .price-list .price{
	display: flex;
    align-items: center;
}


.botaocmprar{
	width: 100%;
}

.product-form{
	display: flex;
  	flex-direction: column;
}

.product-form__info-list, .precode{
	order:1 ;
      margin-bottom: 0;
}

.product-form__variants, .price{
	order:2 ;
}

.product-form__payment-container, .parcelamento{
	order: 4;
}

.tempofrete{
	order: 3;
}